---
import Base from "../layouts/base.astro";
---
<Base>
  <div class="min-h-[calc(100dvh-160px)] grid place-items-center justify-start relative selection:bg-zinc-700">
    <div class="space-y-3 w-full max-w-screen-md text-balance">
      <h2 class="font-mono font-black text-5xl">Olá, eu sou o Wallace,</h2>
      <p class="font-mono">
        Sou desenvolvedor <strong class="underline decoration-wavy decoration-red-600">full stack</strong>, o que isso significa? Bem, que eu mais ou menos coloco javascript em produção. <em class="text-orange-100">(isso não é uma ameaça)</em>
      </p>
    </div>
  </div>
</Base
